<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Form</title>
    <link rel="icon" href="images/gaming-app.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/contactus_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="backblur"></div>

    <header>
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="images/Logo.png"></a>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/Our-Shop">Our Shop</a>
                    <a href="/Product-Details">Product Details</a>
                    <a class="Contact_Us" href="Contact-Us">Contact Us</a>
                    <a class="Sign_In" href="/Log-In">Log In</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="image"></div>
        <div class="form">
            <span>Contact Us</span>
            <input class="Username" type="text" placeholder="Your Name">
            <input class="Email" type="text" placeholder="Your Email">
            <input class="Phone" type="text" placeholder="Phone">
            <input class="Message" type="text" placeholder="Message">
            <button>Send</button>
        </div>
    </div>
</body>
</html>