<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Website</title>
    <link rel="icon" href="images/gaming-app.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/homepage_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="images/Logo.png"></a>
            </div>
            <ul>
                <li>
                    <a class="Home" href="/">Home</a>
                    <a href="Our-Shop">Our Shop</a>
                    <a href="Product-Details">Product Details</a>
                    <a href="/Contact-Us">Contact Us</a>
                    <a class="Sign_In" href="Log-In">Log In</a>
                </li>
            </ul>
        </div>
    </header>

    <section>
        <h3>WELCOME TO <span>GAMING WORLD</span></h3>
        <h1>BEST GAMING SITE <br>EVER!</h1>
        <p>Explore an immersive gaming experience with our meticulously curated selection of titles, <br> designed to transport players into captivating virtual worlds. Dive into an ever-expanding universe of gaming possibilities, <br> where excitement knows no bounds and every click unlocks a new adventure.</p>
        <input type="text" placeholder="Type Something">
        <button>SEARCH NOW</button>
    </section>

    <div class="poster">
        <div class="price">$22</div>
        <div class="discount">-40%</div>
    </div>

    <div class="container">
        <div class="Free_Storage">
            <div class="circle"><i class="ri-download-cloud-2-line"></i></div>
            <div class="text">Free Storage</div>
        </div>
        <div class="User_Mode">
            <div class="circle"><i class="ri-user-line"></i></div>
            <div class="text">User Mode</div>
        </div>
        <div class="Replay_Ready">
            <div class="circle"><i class="ri-replay-10-line"></i></div>
            <div class="text">Replay Ready</div>
        </div>
        <div class="Easy_Layout">
            <div class="circle"><i class="ri-layout-line"></i></div>
            <div class="text">Easy Layout</div>
        </div>
    </div>

    <div class="trending">
        <h3>TRENDING</h3>
        <div class="headline">
            <h1>Trending Games</h1>
            <button>VIEW ALL</button>
        </div>
        
        <div class="gallery">
            <div class="first">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Mirage</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="second">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Unity</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="third">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Rogue</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="fourth">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Blag Flag</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
        </div>
    </div>


    <div class="games">
        <h3>TOP GAMES</h3>
        <div class="headline">
            <h1>Most Played</h1>
            <button>VIEW ALL</button>
        </div>

        <div class="games_gallery">
            <div class="g1">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Adventure</h3>
                    <h2>PUBG</h2>
                    <button>EXPLORE</button>
                </div>
            </div>
    
            <div class="g2">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Adventure</h3>
                    <h2>Fortnite</h2>
                    <button>EXPLORE</button>
                </div>
            </div>
    
            <div class="g3">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Adventure</h3>
                    <h2>Free Fire</h2>
                    <button>EXPLORE</button>
                </div>
            </div>
    
            <div class="g4">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Open World</h3>
                    <h2>GTA V</h2>
                    <button>EXPLORE</button>
                </div>
            </div>

            <div class="g5">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Fighting</h3>
                    <h2>Tekken 7</h2>
                    <button>EXPLORE</button>
                </div>
            </div>

            <div class="g6">
                <div class="gcover"></div>
                <div class="content">
                    <h3>Combat</h3>
                    <h2>Call Of Duty</h2>
                    <button>EXPLORE</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="last">
        <div class="centerimg"></div>

        <div class="lshop">
            <h4>OUR SHOP</h4>
            <h1>Go Pre-Order <br> Buy & Get <br> Best <span>Prices</span> <br>For You!</h1>
            <p>Secure the best prices by pre-ordering now and purchasing with confidence. <br> <br>Take advantage of exclusive pre-order offers and secure the best prices today!</p>
            <button>SHOP NOW</button>
        </div>

        <div class="newsletter">
            <h4>NEWSLETTER</h4>
            <h1>Get Up To $100 Off <br> Just Buy <br><span>Subscribing</span> <br>Newsletter!</h1>
            <input type="text" placeholder="Your email...">
            <button>SUBSCRIBE NOW</button>
        </div>
    </div>

    <footer>
        <pre>Copyright <i class="ri-copyright-line"></i> 2048 RIO Gaming Company. All rights reserved | Develop By: Muhammad Bilawal</pre>
    </footer>
</body>
</html>