<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Now</title>
    <link rel="icon" href="images/gaming-app.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/ourshop_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="images/Logo.png"></a>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a class="Our_Shop" href="Our-Shop">Our Shop</a>
                    <a href="/Product-Details">Product Details</a>
                    <a href="/Contact-Us">Contact Us</a>
                    <a class="Sign_In" href="/Log-In">Log In</a>
                </li>
            </ul>
        </div>

        <div class="title">
            <h1>Our Shop</h1>
            <h2>Home > Our Shop</h2>
        </div>
    </header>

    <main>
        <div class="gallery">
            <div class="first">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Mirage</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="second">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Unity</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="third">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Rogue</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="fourth">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Action</h4>
                        <h3>Assasin Creed Blag Flag</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallerysecond">
        <div class="firstsecond">
            <div class="cover"></div>
            <div class="content">
                <div class="shop">
                    <h4>Shooting</h4>
                    <h3>COD WW II</h3>
                </div>
                <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
            </div>
        </div>

        <div class="secondsecond">
            <div class="cover"></div>
            <div class="content">
                <div class="shop">
                    <h4>Shooting</h4>
                    <h3>COD Black Ops</h3>
                </div>
                <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
            </div>
        </div>

        <div class="thirdsecond">
            <div class="cover"></div>
            <div class="content">
                <div class="shop">
                    <h4>Shooting</h4>
                    <h3>COD Ghosts</h3>
                </div>
                <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
            </div>
        </div>

        <div class="fourthsecond">
            <div class="cover"></div>
            <div class="content">
                <div class="shop">
                    <h4>Shooting</h4>
                    <h3>COD MW II</h3>
                </div>
                <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
            </div>
        </div>
    </div>
</div>
    
    </main>

    <footer>
        <pre>Copyright <i class="ri-copyright-line"></i> 2048 RIO Gaming Company. All rights reserved.   Design By: RIO</pre>
    </footer>
</body>
</html>