<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="icon" href="images/gaming-app.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/productdetails_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="images/Logo.png"></a>
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/Our-Shop">Our Shop</a>
                    <a class="Product_Details" href="Product-Details">Product Details</a>
                    <a href="/Contact-Us">Contact Us</a>
                    <a class="Sign_In" href="/Log-In">Log In</a>
                </li>
            </ul>
        </div>

        <div class="title">
            <h1>Modern Warfare&#174 ll</h1>
            <h2>Home > Product Details</h2>
        </div>
    </header>

    <main>
        <div class="menu">
            <div class="image"></div>
            <div class="info">
                <div class="name">
                    <h1>Call Of Duty: Modern Warfare&#174 ll</h1>
                </div>
                <div class="price">
                    <span class="cut">&dollar;28</span>
                    <span class="original">&dollar;22</span>
                </div>
                <p>Experience the intense combat and gripping narrative of Call of Duty: Modern Warfare II. Immerse yourself in a high-stakes global conflict as you navigate through iconic locations and face off against a new breed of adversaries</p>
                <div class="buttons">
                    <input type="text" placeholder="1">
                    <button><i class="ri-shopping-cart-2-line"></i>  ADD TO CART</button>
                </div>
                <div class="mainpoints">
                    <div class="first">
                        <p class="headings">Game ID:</p>
                        <p class="answer">COD MW ll</p>
                    </div>
                    <div class="second">
                        <p class="headings">Genre:</p>
                        <p class="answer">Shooting Action, Team, Single</p>
                    </div>
                    <div class="third">
                        <p class="headings">Multi-tags:</p>
                        <p class="answer">War, Battle, Royal</p>
                    </div>
                </div>
            </div>
        </div>

        <hr color= "grey">

        <div class="description">
            <h1>Description</h1>
            <p class="firstpara">Enter the heart-pounding world of Call of Duty: Modern Warfare II, where every decision shapes the outcome of a gripping narrative set amidst the chaos of modern warfare. Engage in adrenaline-fueled battles across iconic locations, from urban streets to remote mountainous regions, as you confront a formidable new threat. With cutting-edge weaponry and advanced tactics at your disposal, embark on an unforgettable journey through a high-stakes global conflict where every action carries weight and every victory is hard-earned.</p>
            <p class="secondpara">Immerse yourself in the cinematic realism of Call of Duty: Modern Warfare II, where the boundaries between reality and virtual warfare blur like never before. Prepare to experience the next level of immersive gaming as you answer the call of duty in Modern Warfare II</p>
        </div>

        <div class="related_games">
            <h3>Shooting</h3>
            <div class="headline">
                <h1>Check Out More Related Games</h1>
                <button>VIEW ALL</button>
            </div>
        </div>

        <div class="gallerysecond">
            <div class="firstsecond">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Shooting</h4>
                        <h3>COD WW II</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="secondsecond">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Shooting</h4>
                        <h3>COD Black Ops</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="thirdsecond">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Shooting</h4>
                        <h3>COD Ghosts</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
    
            <div class="fourthsecond">
                <div class="cover"></div>
                <div class="content">
                    <div class="shop">
                        <h4>Shooting</h4>
                        <h3>COD MW II</h3>
                    </div>
                    <div class="shop_circle"><i class="ri-shopping-bag-line"></i></div>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <pre>Copyright <i class="ri-copyright-line"></i> 2048 RIO Gaming Company. All rights reserved.   Design By: RIO</pre>
    </footer>
</body>
</html>